	{{#asistentes}}
	<li class="table-view-cell{{#if_ seleccionado '==' '1'}} cell-seleccionado{{/if_}}" data-dni="{{dni_personal}}" >
		<div class="nombre">{{dni_personal}} - {{nombres_apellidos}}</div>
	</li> 
	{{else}}
	<p>No hay trabajadores disponibles.</p>
	{{/asistentes}}
