        <header class="bar bar-nav">
          <div class="btn-bar btn-nav pull-left">
            <img class="vertical-center" src="assets/img/logo-mini.png"/>
          </div>
          <div class="btn-base btn-nav dropdown pull-right" id="btn-sincronizar">
                SINCRONIZAR
            </div>
          <h1 class="title">Log In</h1>
        </header>

<div class="content">
      <div class="content-padded text-center">
        <div class="text-center">
          <h3>{{nombre_app}}</h3>
        </div>
        <img src="assets/img/LOGO.png" class="img-logo-main">
      </div>
      <div class="card" style="padding: 16px;">
        <form>
              <ul class="table-view">
                    <li class="table-view-cell text-left">
                      TRABAJAR CON GPS
                      <div class="txt-trabajargps toggle {{#if_ is_gps_activated '==' 'true'}}active{{/if_}}">
                        <div class="toggle-handle"></div>
                      </div>
                    </li>
              </ul>
              <select required id="txt-seleccionar-empresa">
                <option value="001">CAYALTI</option>
                <option value="002" selected>YARAMBAMBA</option>
              </select> 
              <hr>
              <input required type="text" id="txt-login" value="" placeholder="Usuario">
              <input required type="password" id="txt-clave" value="" placeholder="Clave">
              <button class="btn btn-block btn-appbase">INGRESAR</button>
        </form>
      </div>
      
</div>